
 
.Chat{
  background-color: white;
  margin: 0;
  color:black;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width:100%;
  justify-content: center;
  margin: 0;
}

.messageContainer {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.inputContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.inputField {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  color: #555;
  box-sizing: border-box;
}

.sendButton {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
  color: #555;
  cursor: pointer;
  margin-left: 10px;
  outline: none;
}

.sendButton:active {
  background-color: #e5e5e5;
}

.selectedMessage {
  background-color: black;
  color:white
}
.eyes{
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}
.date{
  color:grey;
  font-size: 12px;;
}