.Home {
  background-color: white;
  color: black;
}

.dynamic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
  --dynamic-hover: white;
}
.xmtp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.btnXmtp {
  all: unset;
  background: hsl(300, 20%, 99%);
  border: 1px solid hsl(278, 4.1%, 89.1%);
  cursor: pointer;
  padding: 12px 12px;
  border-radius: 12px;
  cursor: pointer;
  align-items: center;
  box-sizing: border-box;
  line-height: 1;
  margin: 10px;
}
