
.Home{
  background-color: white;
  color:black
}

.thirdWeb{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
}
.xmtp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.btnXmtp{
  all: unset;
  background: hsl(300, 20.0%, 99.0%);
  border: 1px solid hsl(278, 4.1%, 89.1%);
  cursor: pointer;
  padding: 12px 12px;
  border-radius: 12px;
  cursor: pointer;
  align-items: center;
  box-sizing: border-box;
  line-height: 1;
  margin: 10px;
}